*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0b0b0b;
color:white;
padding-bottom:90px;
}

.header{
text-align:center;
padding:25px;
background:#111;
border-bottom:2px solid gold;
}

.header h1{
font-size:38px;
color:gold;
margin-bottom:10px;
}

.header p{
font-size:18px;
color:#bbb;
}

.signal-card{
width:92%;
margin:20px auto;
background:#1a1a1a;
border:2px solid gold;
border-radius:20px;
padding:20px;
box-shadow:0 0 20px rgba(255,215,0,.25);
}

.signal-card h2{
color:#00ff66;
font-size:30px;
margin-bottom:20px;
}

.signal-card p{
font-size:20px;
margin:12px 0;
}

hr{
border:none;
height:1px;
background:#444;
margin:20px 0;
}

.btn{
width:100%;
padding:15px;
margin-top:20px;
background:gold;
color:black;
font-size:20px;
font-weight:bold;
border:none;
border-radius:12px;
cursor:pointer;
}

.btn:active{
transform:scale(.98);
}

.market{
width:92%;
margin:20px auto;
display:grid;
grid-template-columns:1fr;
gap:15px;
}

.box{
background:#1a1a1a;
border:2px solid gold;
border-radius:15px;
padding:18px;
text-align:center;
}

.box h3{
font-size:24px;
color:gold;
margin-bottom:8px;
}

.box p{
font-size:18px;
}

.bottom{
position:fixed;
left:0;
bottom:0;
width:100%;
background:#151515;
border-top:2px solid gold;
display:flex;
justify-content:space-around;
padding:12px 0;
}

.bottom a{
color:white;
text-decoration:none;
text-align:center;
font-size:16px;
font-weight:bold;
}

.bottom a:hover{
color:gold;
}